{% extends "base.html" %}
{% load static%}

    {% block title %}
        <title>index.html</title>
    {% endblock %}

    {% block content %}
        <div class="col -8">
          <h3>
              <a class = "notimp" href="{% url 'index' %}">New questions</a>
              <a class = "notimp" href="{% url 'hot' %}">Hot questions</a>
          </h3>
            {% for question in questions %}
          <div class="row">
            <div class="media mt-5 ">
              <div class="col -1 p-0">
                <p class="mb-1 mt-2"><img src=" {% static "img/port.jpg"%}" width="100px" height="100px" class="mr-3" alt="pic"></p>
                <p>
                    <span class="border border-dark p-1">15</span>
                  <button class="btn btn-link m-0 p-2"><img src="{% static "img/like.png" %} " width="15px" height="15px"></button>
                  <button class="btn btn-link m-0 p-0"><img src="{% static "img/dislike.png" %}" width="15px" height="15px"></button>
                </p>
              </div>
              <div class="col-10 p-0">
                <div class="media-body">
                  <a href="{% url 'question' question.id %}"><h3>{{ question.title }}</h3></a>
                    {{ question.text }}
                    <p>
                        <a href="">Answers:</a>
                    </p>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
    {% endblock %}

    {% block paginator %}
        {% include 'paginator.html' with page=questions %}

    {% endblock %}




