    {% extends "base.html" %}
    {% load static%}
        {% block title %}
            <title>Question.html</title>

        {% endblock %}
    {% block content %}
    <div class="col -8">
          <h3>
              <a class = "notimp" href="{% url 'index' %}">New questions</a>
              <a class = "notimp" href="{% url 'hot' %}">Hot questions</a>
          </h3>
          <div class="row border border-dark mt-4">
            <div class="media mt-4 p-4">
              <div class="col -1 p-0">
                <p class="mb-1"><img src="{% static "img/port.jpg" %}" width="150px" height="150px" class="mr-3" alt="pic"></p>
                <p>
                    <span class="border border-dark p-1">15</span>
                    <button class="btn btn-link"><img src="{% static "img/like.png" %}" width="33px" height="33px"></button>
                    <button class="btn btn-link"><img src="{% static "img/dislike.png" %}" width="33px" height="33px"></button>
                </p>
              </div>
              <div class="col-10 p-0">
                <div class="media-body content-media">
                  <h3 class="mt-0 ">{{ question.title }}</h3>
                    {{ question.text }}
                    <p>Tags
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag.tagname %}"> {{tag.tagname}}</a>
                        {% endfor %}
                    </p>
                </div>
              </div>
            </div>         
          </div>

{# Answers #}
        <h3 class="mt-4">Answers:</h3>
        {% for answer in answers %}
          <div class="row">
            <div class="media mt-5 ">
              <div class="col -1 p-0">
                <p class="mb-1"><img src="{% static "img/port.jpg" %}" width="100px" height="100px" class="mr-3" alt="pic"></p>
                <p>
                  <span class="border border-dark p-1">15</span>
                  <button class="btn btn-link m-0 p-1"><img src="{% static "img/like.png" %}" width="15px" height="15px"></button>
                  <button class="btn btn-link p-1"><img src="{% static "img/dislike.png" %}" width="15px" height="15px"></button>
                </p>
              </div>
              <div class="col-10 p-0">
                <div class="media-body">
                  <h5 class="mt-0"></h5>
                   {{ answer.text }}
                    <p id="jj">
                        is Correct: {{ answer.correct }}
                    </p>
                </div>
              </div>
            </div>         
          </div>
        {% endfor %}
          <form class="mt-5">
              <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Input your answer here"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Answer</button>
          </form>
        </div>

    {% endblock %}


    {% block paginator %}
        {% include 'paginator.html' with page=answers %}
    {% endblock %}


